@import-normalize;

body {
  margin: 0;
  min-width: 320px;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--main);
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  box-sizing: border-box;
}

/* some styles for library Lightbox */
.yarl__root {
  --yarl__color_backdrop: rgba(0, 0, 0, 0.7);
  --yarl__color_button_disabled: rgba(0, 0, 0, 0.1);
  --yarl__navigation_button_padding: 120px 56px;
  --yarl__carousel_padding_px: 24;
}

.yarl__button {
  color: rgba(256, 256, 256, 0.4);
  &[Close] {
    background-color: rgba(256, 0, 0, 0.4);
  }
}
.yarl__icon {
  width: 60px;
  height: 60px;
}
